@CHARSET "UTF-8";

 .magazine-image {
  background: #fff;
  border: 1px #eee solid;
  padding:2px;
 }
 .magazine-image img {
  padding: 0px;
  background: #fff;
  border: 1px #eee solid;
  vertical-align: bottom;
 }
